@use '../abstracts/variables' as a;

.btn {
  display: inline-block;
  text-align: center;
  background: a.$color-sub;
  color: a.$color-accent;
  border-radius: 1rem;
  height: 5rem;
  line-height: 5rem;
  font-size: a.$fs-sub;
  font-weight: a.$fw-400;
  transition: all .5s;
  &:hover {
    cursor: pointer;
    translate: 0 -.4rem;
    scale: 1.01;
  }
  &:active {
    translate: 0 .2rem;
    scale: 1;
  }

  &__main {
    max-width: 40rem;
  }
}