@use '../abstracts/variables' as a;

.btn {
  display: inline-block;
  text-align: center;
  color: a.$color-accent;
  border-radius: 1rem;
  line-height: 5rem;
  font-weight: a.$fw-400;
  transition: all .5s;
  &:hover {
    cursor: pointer;
    translate: 0 -.4rem;
    scale: 1.01;
  }
  &:active {
    translate: 0 .2rem;
    scale: 1;
  }

  &__main {
    max-width: 30rem;
    font-size: a.$fs-sub;
    background: a.$color-sub;
    height: 5rem;
    padding: 0 5rem;
  }
  &__sub {
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .btn{
    margin: auto;
  }
}