@use '../abstracts/variables' as a;
@use '../abstracts/mixins' as m;

.hero {
  // clip-path: polygon(0 0, 0 80%, 20% 85%, 70% 90%, 100% 100%, 100% 0);
  padding: 4rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
  background: a.$linear-gradient, a.$color-main a.$main-bg no-repeat bottom right;
  background-size: contain;
  background-attachment: fixed;
}

.about {
  @include m.space-around;
  flex-direction: column;
  gap: 2rem;
  height: 90vh;
}

.target {
  position: relative;
}

.detail {
  display: grid;
  gap: 1rem;
  grid-template-areas: a.$grid;
  padding: 5rem;
  &>*{
    display: flex;
    flex-wrap: wrap;
    @include m.box-size(30rem);
    background-size: cover;
    background-position: center;
    color: a.$color-main;
    padding: 4rem;
    font-size: 2rem;
  }
  &__wordpress{
    background-image: a.$wordpress;
    &:hover {
      @include m.p-effect;
      background-image: a.$linear-gradient, a.$wordpress;
    }
  }
  &__camera{
    background-image: a.$camera;
    &:hover {
      @include m.p-effect;
      background-image: a.$linear-gradient, a.$camera;
    }
  }
  &__music{
    background-image: a.$music;
    &:hover {
      @include m.p-effect;
      background-image: a.$linear-gradient, a.$music;
    }
  }
  &__realestate{
    background-image: a.$realestate;
    &:hover {
      @include m.p-effect;
      background-image: a.$linear-gradient, a.$realestate;
    }
  }
  &__potfolio{
    background-image: a.$portfolio;
    &:hover {
      @include m.p-effect;
      background-image: a.$linear-gradient, a.$portfolio;
    }
  }
  &__ball{
    background-image: a.$ball;
    &:hover {
      @include m.p-effect;
      background-image: a.$linear-gradient, a.$ball;
    }
  }
  &__idea{
    background-image: a.$idea;
    &:hover {
      @include m.p-effect;
      background-image: a.$linear-gradient, a.$idea;
    }
  }
  &__tresearch, &__github, &__mentor, &__codepen, &__mail {
    @include m.text-s;
  }
  &__wordpress,&__camera,&__music,&__realestate,&__potfolio,&__ball,&__idea {
    transition: all 1s;
    @include m.center;
    & > *{
      display: none;
    }
    &:hover>* {
      display: flex;
    }
  } 
  &__icon {
    font-size: 4rem;
    color: a.$color-main;
  }
  &__para {
    font-weight: a.$fw-300;
    font-style: italic;
  }
}



@media only screen and (max-width: 1300px) {
  .detail {
    padding: 2rem;
  }
}
@media only screen and (max-width: 1200px) {
  .detail {
    padding: 0rem;
    display: grid;
    grid-template-areas: 
    'realestate d-research'
    'github music'
    'potfolio mentor'
    'codepen wordpress'
    'idea mail'
    'camera ball';
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    padding: 4rem;
    grid-template-rows: 1fr 0fr;
    justify-content: center;
    text-align: center;
    height: 100vh;
  }
  .detail {
    padding: 0rem;
    display: grid;
    grid-template-areas: 
    'realestate'
    'd-research'
    'music'
    'github'
    'potfolio'
    'mentor'
    'wordpress'
    'codepen'
    'idea'
    'mail'
    'camera'
    'ball';
  }
}